<% include ./partials/header.ejs %>

<div class="container">
  <div class="side_container">
      <div class="left_section">
          <div class="icon-container">
              <i class="ri-spotify-fill">Spotify</i>
              <i class="ri-home-fill">Home</i>
              <i style="color: gray;" class="ri-search-line">Search</i>
          </div>

      </div>
      <div class="library">
          <i style="font-size: large; color: grey; margin: 15px;" class="ri-play-list-fill">Your Library</i>
          <div class="scroll">
              <div style="   background-color: rgb(46, 45, 45); border-radius: 8px;margin-bottom:25px ;">
                  <p
                      style="font-size: medium;font-weight: 600; margin-left: 20px;margin-top: 12px;padding-top: 15px;">
                      Create your
                      first playlist</p>
                  <p style="margin-left: 20px;margin-top: 7px;font-weight: 600;font-size: small;">It's easy, we'll
                      help you</p>
                  <button
                      style="margin-left: 20px; margin-top: 15px;border-radius: 30px;border: none; padding: 8px 10px;font-weight: 540;margin-bottom: 12px;">Create
                      Playlist</button>
              </div>

              <div style="   background-color: rgb(46, 45, 45); border-radius: 8px;">
                  <p
                      style="font-size: medium;font-weight: 600; margin-left: 20px;margin-top: 12px;padding-top: 15px;padding-right: 30px;">
                      Let's find some podcasts to follow</p>
                  <p
                      style="margin-left: 20px;margin-top: 7px;font-weight: 600;font-size: small;padding-right: 30px;">
                      We'll keep you updated on new episodes</p>
                  <button
                      style="margin-left: 20px; margin-top: 15px;border-radius: 30px;border: none; padding: 8px 10px;font-weight: 540;margin-bottom: 12px;">Browse
                      podcasts</button>
              </div>

          </div>
          <div style="margin-top: 25px;">
              <div class="row">
                  <a>Legal</a>
                  <a>Safety & Privacy Center</a>
              </div>

              <div class="row">
                  <a>Privacy Policy</a>
                  <a>Cookies</a>
                  <a>About Ads</a>
              </div>

              <div class="row"><a>Accessibility</a></div>
              <div class="row"><a>Cookies</a></div>

              <button style="margin-left: 25px;margin-top: 30px;border-radius: 30px;padding: 8px; border-color: white; border-width: 0.1cap ;background-color: rgb(28, 28, 28);color: white;font-weight: 600;">@@ English</button>



          </div>
      </div>

  </div>
  <div class="navbar">
      <div class="arrows">
          <i style="font-size: x-large; color: grey;padding: 5px; background-color: rgb(8, 8, 8); border-radius: 100px;"
              class="ri-arrow-left-s-line"></i>
          <i style="font-size: x-large; color: grey;padding: 5px; background-color: rgb(8, 8, 8); border-radius: 100px; margin-left: 4px;"
              class="ri-arrow-right-s-line"></i>
      </div>

      <a href="#">Sign up</a>
      <button id="button">Log in</button>
  </div>

</div>

<% include ./partials/footer.ejs %>